body, h3
{
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}
.en_tete
{
    display: flex; /*flexbox pour l'en-tête*/
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.en_tete .logo {
    max-width: 100px;/*définition largeur principale*/
}
.en_tete .logo1 {/*redimensionnement logo*/
  width: 120px;
  height: 100%;
}

.en_tete .menu
{
    display: flex; /*flexbox pour les nav*/
    flex-direction: row;  
}

.en_tete .menu li {
    padding: 20px;
}

.en_tete .menu .li1:hover {
    border-top: 2px solid #0065FC;
}

a {
    text-decoration: none;
}

ul 
{
    list-style-type: none;/*pas de style de liste à puces*/
    padding: 0;
}

#rechercher
{
    font-weight: bold;
    color: white;
    margin: auto;
    padding: 0;
}


.zone_saisie {
    width: 412px;
    height: 34px;
    overflow: hidden;
    border: 1px solid #F2F2F2;
    border-radius: 10px;
}

.zone_saisie i {
    width: 34px;/*stylisation icône zone de saisie*/
    height: 34px;
    background-color: #F2F2F2;
    padding: 8px 8px;
    float: left;
    text-align: center;
}

.zone_saisie #rechercher {
    width: 200px;
    height: 34px;
    padding-bottom: 0;
    border: none;
    float: left;
    padding-left: 5px;
}

.zone_saisie button {
    width: 157px;
    height: 34px;
    color: white;
    background-color:  #0065FC;
    border: none;

}

.icone {
    color:  #0065FC;/*couleur icones filtres et info*/
}
span i {
    position: relative;/*création cercle autour de l'icône*/
    background-color: white;
    width: 25px;
    height: 25px;
    border: 1px solid #F2F2F2;
    border-radius: 50px;
}
span i::before {
    position: absolute;
    top: 4px;
    left: 9px;
}

.filtres {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    font-weight: bold;
    line-height: 40px;;
    
}

.filtres .icones_texte {
    border: 1px solid #F2F2F2;
    height: 32px;
    border-radius: 50px;
    margin: 5px;
}


.filtres .icones_texte .icones_filtres i {
   /* position: relative;*/
    width: 30px;
    height: 30px;
    background-color: #DEEBFF;
    border-radius: 50%;
    
}



.filtres .icones_texte .icones_filtres i::before {
    /*position: absolute;/*positionnement de l'icone au centre du bloc icones_texte
    top: 7px;
    left: 7px;*/
    line-height: 25px;
    text-align: center;
    float: left;
}




.filtres .icones_texte .texte {
    float: right;
    line-height: 30px;
    padding-right: 10px;
    
}







.section_une 
{
 display: flex;/*activation flexbox sur blocA et blocB*/
 flex-direction: row;
 justify-content: space-between;
 width: 100%;
 border: 2px solid red;
/* padding: 5px;*/
}

.section_une #hebergements, .afficher {
    padding-left: 20px;
}

.blocA
{
    background-color: #F2F2F2;
    border: 1px solid none;
    border-radius: 20px;
    width: 69%;/*le blocA occupe 69% de la page*/
    display: flex;/*flexbox pour hébergement pour hebergements et blocA1*/
    flex-direction: column;
}
.blocA .blocA1
{
    display: flex;/*flexbox sur hôtels_blocA*/
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.blocA .blocA1 .hotels_blocA{
    width: 31.33%;
    background-color: white;
    padding: 4px;
    box-sizing: border-box;
    /* margin-right: 2%; */
    margin-bottom: 2%;
    border-radius: 20px; /*arrondissement des bordures des hôtels_blocA*/
    box-shadow: 2px 2px 2px 1px silver;/*ombre autour des hôtels du bloc A*/
} 

.blocA .blocA1 .hotels_blocA .block-img{
    width: 100%;
    max-height: 150px; 
    overflow: hidden;
    border-top-left-radius: 20px; /*arrondissement de la bordure haut à gauche*/
    border-top-right-radius: 20px; /*arrondissement de la bordure haut à droite*/
}
.blocA .blocA1 .hotels_blocA .block-img img{
    width: 100%;
    height: 140px;
    object-fit: cover;
    
}
.blocA .blocA1 .hotels_blocA .block-text {
    padding-left: 5px;
    /*padding-bottom: 5px;*/
}

.blocA .blocA1 .hotels_blocA .block-text p{
    margin-top: 5px;
    margin-bottom: 5px;/*suppression des marges automatiques autour de p, au profit des marges top et bottom*/
}

.blocB
{
 background-color: #F2F2F2;
 border: 1px solid none;
 border-radius: 20px; /*arrondissement de la bordure*/
 width: 29%;/*le blocB occupe 29% de la page*/
 display: flex;
 flex-direction: column;/*activation flexbox pour le blocB et les plus populaires*/
 justify-content: start;/*à revoir*/
}

.blocB .blocB_un {/*flexbox sur le h2 et l'icône*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
}

.blocB .blocB1
{
    display:flex;/*flexbox sur les hôtels_blocB*/
    flex-direction: column;
    flex-wrap: wrap;
}

.blocB .blocB1 .hotels_blocB
{
    /*height: 25%;*/
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
    padding: 4px;
    box-sizing: border-box;
    /*margin-right: 2%;*/
    margin: 20px;
    display: flex;/*flexbox pour chaque hôtel*/
    flex-direction: row;
    box-shadow: 2px 2px 2px 1px silver;/*ombre autour des hôtels du bloc B*/
}


.blocB .blocB1 .hotels_blocB .block-img{
    max-width: 150px;
    height: 100%; 
    overflow: hidden;
    border-top-left-radius: 20px; /*arrondissement de la bordure haut à gauche*/
    border-bottom-left-radius: 20px;/*arrondissement de la bordure haut à droite*/
}

.blocB .blocB1 .hotels_blocB .block-img img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.blocB .blocB1 .hotels_blocB .block-img .photos_blocB1 {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.blocB .blocB1 .hotels_blocB .block-text {
    padding-left: 10px;
}

.blocB .blocB1 .hotels_blocB .block-text p {/*marges autour des paragraphes*/
    margin-top: 5px;
    margin-bottom: 60px;
}

.etoile_bleue /*définition de la couleur bleu pour toutes les classes etoile_bleue*/
{
    color: #0065FC;
}
.etoile_grise
{
    color:silver;
}

.section_deux {
   width: 100%;
   border: 2px solid blue;
/* padding: 5px;*/
}

.blocC {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*max-height: 400px;*/
}



.blocC {
    display: flex; /*flexbox sur le blocC*/
    flex-direction: column;
    width: 100%;/*le blocA occupe 69% de la page*/    
}

.blocC .blocC2 {
    display: flex;/*activation de la flexbox sur l'axe principal deu blocC (activités à Marseille)*/
    flex-direction: row;
    justify-content: space-between;
}

.blocC .blocC2 .activites_blocC {
    width: 24%;
    background-color: white;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 4px; 
}

/*.blocC .blocC2 .activites_blocC .activites_blocC1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*max-height: 400px;
}*/



.blocC .blocC2 .activites_blocC  .block .bloc_img1 {
    width: 100%;
    max-height: 400px; 
    overflow: hidden;
    border-top-left-radius: 20px; /*arrondissement de la bordure haut à gauche*/
    border-top-right-radius: 20px;
    overflow: hidden;
}

.blocC .blocC2 .activites_blocC  .block .bloc_img1 .img1 {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.blocC .blocC2 .activites_blocC .activites_blocC1 .blocC1_img {
    width: 100%;
    max-height: 400px;
}

.blocC .blocC2 .activites_blocC .activites_blocC1 .blocC1_img .block .bloc_img2 {
    width: 100%;
    max-height: 250px;
}

.blocC .blocC2 .activites_blocC .activites_blocC1 .blocC1_img .block .bloc_img3 {
    width: 100%;
    max-height: 150px;
    
}
.blocC .blocC2 .activites_blocC .activites_blocC1 .blocC1_img .img2 {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-top-left-radius: 20px; /*arrondissement de la bordure haut à gauche*/
    border-top-right-radius: 20px;
}

.blocC .blocC2 .activites_blocC .activites_blocC1 .blocC1_img .img3 {
    width: 100%;
    height: 108px;
    border-top-left-radius: 20px; /*arrondissement de la bordure haut à gauche*/
    border-top-right-radius: 20px;
}

.blocC .blocC2 .activites_blocC .activites_blocC1 .blocC1_img .img4 {
    width: 100%;
    height: 150px;
    border-top-left-radius: 20px; /*arrondissement de la bordure haut à gauche*/
    border-top-right-radius: 20px;
}

.blocC .blocC2 .activites_blocC .activites_blocC1 .blocC1_img .img5 {
    width: 100%;
    height: 188px;
    border-top-left-radius: 20px; /*arrondissement de la bordure haut à gauche*/
    border-top-right-radius: 20px;
}

.blocC .blocC2 .activites_blocC .block {
    box-shadow: 2px 2px 2px 1px silver;
    border-radius: 20px;
}

.blocC .blocC2 .activites_blocC .block .textC {
    padding-left: 10px;
}








.bas_de_page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #F2F2F2;
}














/*.en_tete_mobile {
  
}*/

/* tablette */
@media screen and (min-width: 640px) and (max-width: 900px) {
.en_tete {
    display: none;
}


/* mobile */