body 
{
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}
.en_tete
{
    display: flex; /*flexbox pour l'en-tête*/
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.menu
{
    display: flex; /*flexbox pour les nav*/
    flex-direction: row;
    
}
a {
    text-decoration: none;
}
.li1
{
    /*text-decoration: overline;/*surlignement de hebergemen
    color: #0065FC;*/
    border-top: 2px solid #0065FC ;
    
}
ul 
{
    list-style-type: none;/*pas de style de liste à puces*/
}
#rechercher
{
    background-color: #0065FC;/*stylisation bouton Rechercher. A corriger*/
    font-weight: bold;
    color: white;
    border-radius: 20px;
    margin: auto;

}
/*.photos_blocA  //je définis les tailles des photos afin de les redimensionner
{
    width: 232px; //largeur des photos du bloc
    height: 120px; //hauteur des photos du bloc
    border-top: 1px solid none;//bordures desphotos
    
}*/

/*.photos_blocB redimensionne les photos du bloc
{
    width: 130px;
    height: 130px;
}*/

.hotels_blocB
{
    border: 3px solid white;
    border-radius: 20px;
    display: flex;/*flexbox pour chaque hôtel*/
    flex-direction: row;
}
.section_une 
{
 display: flex;/*activation flexbox sur blocA et blocB*/
 flex-direction: row;
 justify-content: space-between;
 width: 100%;
 border: 2px solid red;
/* padding: 5px;*/
}

.blocA
{
    background-color: #F2F2F2;
    border: 1px solid none;
    border-radius: 20px;
    width: 69%;/*le blocA occupe 69% de la page*/
    display: flex;/*flexbox pour hébergement pour hebergements et blocA1*/
    flex-direction: column;
}
.blocA .blocA1
{
    display: flex;/*flexbox sur hôtels_blocA*/
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.blocA .blocA1 .hotels_blocA{
    width: 31.33%;
    background-color: white;
    padding: 4px;
    box-sizing: border-box;
    /* margin-right: 2%; */
    margin-bottom: 2%;
    border-top-left-radius: 20px; /*arrondissement de la bordure haut à gauche*/
    border-top-right-radius: 20px; /*arrondissement de la bordure haut à droite*/
    

} 
.blocA .blocA1 .hotels_blocA:nth-of-type(3) {
    margin-right: 0; 
}

.blocA .blocA1 .hotels_blocA .block-img{
    width: 100%;
    max-height: 150px; 
    overflow: hidden;
    border-top-left-radius: 20px; /*arrondissement de la bordure haut à gauche*/
    border-top-right-radius: 20px; /*arrondissement de la bordure haut à droite*/
}
.blocA .blocA1 .hotels_blocA .block-img img{
    width: 100%;
    height: auto;
    
}
.blocA .blocA1 .hotels_blocA .block-text {
    padding-left: 5%;
}

.blocB
{
 background-color: #F2F2F2;
 border: 1px solid none;
 border-radius: 20px; /*arrondissement de la bordure*/
 width: 29%;/*le blocB occupe 29% de la page*/
 display: flex;
 flex-direction: column;/*activation flexbox pour le blocB et les plus populaires*/
 justify-content: start;/*à revoir*/
}
.blocB .blocB1
{
    display:flex;/*flexbox sur les hôtels_blocB*/
    flex-direction: column;
    flex-wrap: wrap;
}
.blocB .blocB1 .hotels_blocB
{
    width: 33.33%;
    border-radius: 20px;
    background-color: white;
    padding: 4px;
    box-sizing: border-box;
    margin-right: 2%;
}
.blocB .blocB1 .hotels_blocB .block-img{
    width: 100%;
    max-height: 150px; 
    overflow: hidden;
}
.blocB .blocB1 .hotels_blocB .block-img img{
    width: 100%;
    height: auto;
}
.blocB1>div
{
    margin: 25px;
    
}
 /*margin: 10px 10px;
 padding-left: 20px;
}*/
.etoile_bleue /*définition de la couleur bleu pour toutes les classes etoile_bleue*/
{
    color: #0065FC;
}
.etoile_grise
{
    color:silver;
}
/*.hotel_soleil
{
    border: 3px solid white;
    border-radius: 20px;
    text-align: justify;
    padding: 0px;
}*/


/*.soleil_du_matin 
{
    float: left;
    margin: 6px 6px; donner taille de l'image
    utiliser flex
    
}*/
/*redimensionnement photos de la section_deux*/
.photoA {
    width: 300px;
    height: 360px;
    border-top: 1px solid none;/*bordures desphotos*/
    border-top-left-radius: 20px;/*arrondissement de la bordure haut à gauche*/
    border-top-right-radius: 20px;/*arrondissement de la bordure haut à droite*/

}
.photoB {
    width: ;
    height: ;border-top: 1px solid none;/*bordures desphotos*/
    border-top-left-radius: 20px;/*arrondissement de la bordure haut à gauche*/
    border-top-right-radius: 20px;/*arrondissement de la bordure haut à droite*/

}

.en_tete_mobile {

}

/* tablette */
@media screen and (min-width: 640px) and (max-width: 900px) {
.en_tete {
    display: none;
}
}

/* mobile */


